#include "status.h"

/*
 * Name: {{ task_name }}
 * Description: What this task does and to use it
 * Author: <who ever wrote this>
 * Date: <date last editted>
*/

void run_{{ task_name }}_cycle();
void run_{{ task_name }}_fast_cycle();
void run_{{ task_name }}_medium_cycle();
void run_{{ task_name }}_slow_cycle();
StatusCode init_{{ task_name }}();
