set noparent

linelength=100

# exclude copyright warnings
filter=-legal

# ignore Include the directory when naming .h files
filter=-build/include_subdir

# ignore warnings about C-style casts (since we are in fact using C)
filter=-readability/casting

# ignore missing username in TODO
filter=-readability/todo
