#include "status.h"


void run_{{data['proj_name']}}_{{data['task_name']}}_cycle();
void run_{{data['proj_name']}}_{{data['task_name']}}_fast_cycle();
void run_{{data['proj_name']}}_{{data['task_name']}}_medium_cycle();
void run_{{data['proj_name']}}_{{data['task_name']}}_slow_cycle();
StatusCode init_{{data['proj_name']}}_{{data['task_name']}}();