{% set messages = messages | selectattr("sender", "eq", board) | list -%}

#include <stdint.h>

#include "can_board_ids.h"
#include "can_codegen.h"

static CanMessage s_msg = { 
    .type = CAN_MSG_TYPE_DATA,
};
static void prv_tx_can_message(CanMessageId id, uint8_t num_bytes, uint64_t data) {
    s_msg.id.raw = id,
    s_msg.dlc = num_bytes;
    s_msg.data = data;
    s_msg.extended = (s_msg.id.msg_id >= CAN_MSG_MAX_STD_IDS);
    can_transmit(&s_msg);
}

void can_tx_all() {
{%- for message in messages %}
    prv_tx_can_message(
        SYSTEM_CAN_MESSAGE_{{message.sender | upper}}_{{message.name | upper}}, 
        {{- (message.signals | sum(attribute='length') / 8) | int }},
    {%- for signal in message.signals %}
        (uint64_t) g_tx_struct.{{message.name}}_{{signal.name}} << {{signal.start_bit}}{{ " |" if not loop.last }}
    {%- endfor -%}
    );
{%- endfor %}
}
