{% set messages = messages | selectattr("receiver", "contains", board) | list -%}

#pragma once

#include <stdint.h>
#include <stdbool.h>

typedef struct
{
{%- for message in messages %}
    {%- for signal in message.signals %}
    uint{{signal.length}}_t {{message.name}}_{{signal.name}};
    {%- endfor %}
{%- endfor %}
{%- for message in messages %}
    bool received_{{message.name}};
{%- endfor %}
} {{board}}_rx_struct;
