{% set messages = messages | selectattr("receiver", "contains", board) | list -%}

#pragma once

#include "can_codegen.h"

{% for message in messages %}
    {%- for signal in message.signals %}
#define get_{{message.name}}_{{signal.name}}() \
    g_rx_struct.{{message.name}}_{{signal.name}}
    {% endfor %}
#define get_received_{{message.name}}() \
    g_rx_struct.received_{{message.name}}
{% endfor %}
