#pragma once

{% set board = data["Board"] -%}
{% set messages = data["Messages"] -%}

#include "{{board}}_structs.h"

{%- for message in messages -%}
    {%- for signal in messages[message]['signals'] %}

uint{{messages[message]['signals'][signal]['length']}}_t get_{{message}}_{{signal}}(receive_struct* s)
{
    return s->signal_{{message}}_{{signal}};
}

    {%- endfor -%}
{% endfor -%}