#pragma once

{%- set board = data["Board"] %}
{%- set messages = data["Messages"] %}
#include <stdint.h>
#include <stdbool.h>
#include "can_watchdog.h"

{% for message, message_data in messages.items() %}
  {%- if message_data["target"][board]["watchdog"] != 0 %}
#define check_{{message}}_msg_watchdog() \
    s_{{message}}_msg_watchdog.missed
  {%- endif %}
{%- endfor %}

typedef struct
{
{%- for message, message_data in messages.items() %}
    {%- for signal, signal_data in message_data['signals'].items() %}
    uint{{signal_data['length']}}_t {{message}}_{{signal}};
    {%- endfor %}
{%- endfor %}
{%- for message, message_data in messages.items() %}
    bool received_{{message}};
{%- endfor %}
} {{board}}_rx_struct;

{%- for message, message_data in messages.items() %}
  {% if message_data["target"][board]["watchdog"] != 0 %}
extern CanWatchDog s_{{message}}_msg_watchdog;
  {%- endif %}
{%- endfor %}
