#pragma once

{% set board = data["Board"] -%}
{% set messages = data["Messages"] -%}
#include <stdint.h>

typedef struct
{
{%- for message, message_data in messages.items() %}
    uint64_t {{message}};
{%- endfor %}
} {{board}}_rx_struct;
