{% set messages = data["Messages"] -%}
{% set board = data["Board"] -%}

#include "can_board_ids.h"
#include "can_codegen.h"
#include "can_watchdog.h"

void can_rx_all() {
    CanMessage msg = { 0 };
    while (can_receive(&msg) == STATUS_CODE_OK) {
        // TODO: Not sure if for loop is best way
        // Might be O(n)
        // If store all functions in callback array may be better?
        // Or do some sort or binary search for O(lgn)
        watchdog_check(msg.id.raw);
        switch (msg.id.raw) {
        {%- for message, message_data in messages.items() %}
            case SYSTEM_CAN_MESSAGE_{{message_data["src"] | upper}}_{{message | upper}}:
            {%- set offset = namespace(value=0) %}
            {%- for signal, signal_data in message_data['signals'].items() %}
                g_rx_struct.{{message}}_{{signal}} = (msg.data >> {{offset.value}});
                {%- set offset.value = offset.value + signal_data.length %}
            {%- endfor %}
                g_rx_struct.received_{{message}} = true;
                break;
        {%- endfor %}
            default:
                break;
        }
    }
}
