#pragma once

{% set board = data["Board"] -%}
{% set signals = data["Signals"] -%}

#include "{{board}}_structs.h"

{% for signal, signal_data in signals -%}

void set_{{message}}_{{signal}}({{board}}_receive_struct* s, uint{{signal_data['length']}}_t val)
{
    s->{{message}}_{{signal}} = val;
}

{% endfor -%}