{% set messages = data["Messages"] -%}
{% set board = data["Board"] -%}

#include "{{board}}_pack_msg.h"
#include "can_codegen.h"

void can_transmit_all() {
  CanMessage msg = { 0 };

  {% for message in messages.keys() %}
    {%- set signals = messages[message]["signals"].keys() -%}
      {%- set function_parameters -%}
  can_pack_{{message}}(&msg {%- for signal in signals %}, &g_transmit_struct.{{message}}_{{signal}} {%- endfor %});
      {%- endset -%}
  {{function_parameters | format_function_parameters}}
  can_transmit(&msg, NULL);

  {% endfor %}
}