#pragma once

#include "can_msg_defs.h"
#include "can_unpack_impl.h"


{% set messages = data["Messages"] -%}
{%- for message in messages -%}    

    {% set signals = messages[message]['signals'] -%}
    {% set size = signals['length'] -%}
void CAN_UNPACK_{{ message | upper }}(CanMessage *msg_ptr {%- for signal in signals -%}, uint{{ signals[signal]['length']}}_t *{{signal}}_u{{signals[signal]['length']}}_ptr {%- endfor -%}){                                     
        can_unpack_impl_u{{size}}(msg_ptr, 1{%- for signal in signals -%}, {{signal}}_u{{signals[signal]['length']}}_ptr {%- endfor -%});
} 
    
{%- endfor -%}