{% set messages = data["Messages"] -%}

{% for message in messages -%}
{% set signals = message["signals"] -%}
{% for signal in signals -%}

BO_ {{message["id"]}} {{message["message_name"]}} {{signal["data_length"]}} ""
  SG_ {{signal["signal_name"]}} : {{signal["start_bit"]}}|{{signal["length"]}}@1+ ({{signal["scale"]}},{{signal["offset"]}}) [{{signal["min"]}}|{{signal["max"]}}] "{{signal["unit"]}}" {{signal["receiver"]}}

{% endfor -%}
{%- endfor -%}
