{% set boards = data["Boards"] -%}

#pragma once

{%- for board in boards -%}
  {%- set signals = board["Signals"] -%}
  {%- for signal in signals %}

#define SYSTEM_CAN_MESSAGE_{{signal[1]["message"]|upper}} \
  ({{signal[0]|upper}} << 5) + SYSTEM_CAN_DEVICE_{{board["Board"]|upper}}

  {%- endfor %}
{%- endfor %}

#include <stdbool.h>

// For setting the CAN device
typedef enum {
    {% for board in boards -%}
    SYSTEM_CAN_DEVICE_{{ board["Board"] | upper }} = {{ loop.index0 }},
    {% endfor -%}
    NUM_SYSTEM_CAN_DEVICES = {{ boards | length }}
} SystemCanDevice;
